DJANGO_SECRET_KEY=change-me-to-a-long-random-string
DJANGO_ALLOWED_HOSTS=коренцвит.рф,www.коренцвит.рф,xn--b1afkfqeou7a.xn--p1ai,www.xn--b1afkfqeou7a.xn--p1ai,158.160.180.56,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=http://коренцвит.рф,http://www.коренцвит.рф,http://xn--b1afkfqeou7a.xn--p1ai,http://www.xn--b1afkfqeou7a.xn--p1ai,http://158.160.180.56,https://коренцвит.рф,https://www.коренцвит.рф,https://xn--b1afkfqeou7a.xn--p1ai,https://www.xn--b1afkfqeou7a.xn--p1ai
WAGTAILADMIN_BASE_URL=http://коренцвит.рф

POSTGRES_DB=archeology
POSTGRES_USER=archeology
POSTGRES_PASSWORD=change-me-db-password

LOAD_DEMO=0

# Дополнительные разрешённые почтовые домены через запятую
RUSSIAN_EMAIL_DOMAINS=
