DJANGO_SECRET_KEY=change-me-to-a-long-random-string
DJANGO_ALLOWED_HOSTS=*
DJANGO_CSRF_TRUSTED_ORIGINS=
WAGTAILADMIN_BASE_URL=http://YOUR_VM_IP

POSTGRES_DB=archeology
POSTGRES_USER=archeology
POSTGRES_PASSWORD=change-me-db-password

LOAD_DEMO=1
