{% load wagtailimages_tags %}
<div class="gallery-inline">
  {% if value.title %}<p class="gallery-inline__title">{{ value.title }}</p>{% endif %}
  <div class="gallery-inline__grid">
    {% for item in value.images %}
      <figure class="figure">
        {% image item.image fill-400x300 as img %}
        <img src="{{ img.url }}" alt="{{ item.caption|default:item.image.title }}">
        {% if item.caption %}<figcaption>{{ item.caption }}</figcaption>{% endif %}
      </figure>
    {% endfor %}
  </div>
</div>
